.App {
  text-align: center;
  background-color: #282c34;

}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.App-link {
  color: #61dafb;
}

.App-buttom {
  background-color: #fbcd61;
  border: none;
  padding: 10px 15px;
  margin: 30px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  outline: none;
}

.App-form {
  display: flex
}

.App-input{
  padding: 10px 15px;
  width: 100%;
  max-width: 200px;
  border-radius: 20px;
  outline: none;
  border: none;
  outline: none;
  font-weight: 600;
  margin: 0 5px;
}

.App-input::placeholder{
  font-weight: 600;
}

.App-input[type="number"]{
  padding: 10px 15px;
  width: 100%;
  max-width: 50px;
  border-radius: 20px;
  outline: none;
  border: none;
  outline: none;
  font-weight: 600;
}

.App-gifs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-comp{
  width: 100%;
  max-width: 300px;
  min-height: 200px;
}

.gif-comp>img {
  width: 100%;
}

.gif-comp>a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
}

.gif-comp>a:hover{
  color: #fbcd61
}